<ng-container *ngFor="let question of questionGameService.getQuestions()">
  <div *ngIf="questionGameService.getCurrentQuestionId() === question.id" class="question-game-wrapper">
    <div class="question-content">
      <div *ngIf="question.isImageAnswers" class="image-answers">
        <h2>Answers:</h2>
        <form [formGroup]="answersDataForm" class="answers__form">
          <input type="radio" formControlName="food" value="beef"> Beef
          <input type="radio" formControlName="food" value="lamb"> Lamb
          <input type="radio" formControlName="food" value="fish"> Fish
        </form>
      </div>
    </div>
    <div class="question">
      <div class="question__status">
        <app-question-status *ngFor="let questionForStatus of questionGameService.getQuestions()"
          [isAnswerRight]="questionForStatus.rightAnswerId === questionForStatus.userAnswerId"
          [status]="questionForStatus.status" class="question__status__item"></app-question-status>
      </div>
      <div class="question__info">
        <!-- <h2>Question {{ question.id }}</h2>
        <p>Question: {{ question.question }}</p>
        <div *ngIf="!question.isImageAnswers" class="answers">
          <h2>Answers:</h2>
          <form [formGroup]="answersDataForm" class="answers__form" (change)="formChange()">
            <label *ngFor="let answerItem of question.answers" class="answers__form__item">
              <input type="radio" formControlName="answer" [value]="answerItem.id">
              {{ answerItem.title }}
            </label>
          </form>
        </div> -->
        <app-question-info [question]="question"></app-question-info>
      </div>
      <div class="question__controls">
        <button class="question__controls__btn" (click)="questionGameService.nextQuestion()">Next</button>
        <button class="question__controls__btn" (click)="questionGameService.setAnswer()">Submit</button>
      </div>
    </div>
  </div>
</ng-container>