<header>
  <div class="menu-container">
    <button class="menu-btn" (click)="open = !open" #menuButton>
      <img src="../../../../assets/images/menu.svg" alt="menu" [class]="(open ? 'hide' : 'open')">
      <img src="../../../../assets/images/menu_open.svg" alt="menu open" [class]="(open ? 'show' : 'hide')">
    </button>
    <nav *ngIf="open" appClickOutside (clickOutside)="hideMenu($event)">
      <ul>
        <li
          *ngFor="let question of questionGameService.getQuestions(); let i=index"
          (click)="changeQuestion(question.id)"
        >Question {{ index }}</li>
      </ul>
    </nav>
  </div>
</header>
<div class="content">
  <router-outlet></router-outlet>
</div>
