<header>
  <div class="menu-container">
    <button class="menu-btn" (click)="open = !open">
      <img *ngIf="!open" src="../../../../assets/images/menu.svg" alt="menu">
      <img *ngIf="open" src="../../../../assets/images/menu_open.svg" alt="menu open">
    </button>
    <nav *ngIf="open">
      <ul>
        <li
          *ngFor="let question of questionGameService.getQuestions(); let i=index"
          (click)="changeQuestion(question.id)"
        >Question {{ index }}</li>
      </ul>
    </nav>
  </div>
</header>
<div class="content">
  <router-outlet></router-outlet>
</div>
